<!-- Footer -->
<footer class="bg-white border-top p-3 text-muted small">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div>
                <span class="navbar-brand mr-2 mb-0"
                    ><strong>The Totality of Life</strong></span
                >
                <span
                    >Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    .</span
                >
            </div>
        </div>
    </div>
</footer>
