<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="utf-8">

  <link rel="stylesheet" href="/styles/pico.min.css" />

  <title>{% if section -%}{{ section.title }} | {% endif %} {% if page -%}{{ page.title }} | {% endif %} {{ config.title }} </title>

</head>

<body class="bg-white">

  {% include "nav.html" %}

  {% block content -%}  {% endblock content -%}

  {% include "footer.html" %}

</body>

</html>
