<footer class="container">
  <hr />
  <div class="grid">
    <div>
      <h3>
        全部生命App
      </h3>
      <ul>
        <li>
          <a href="https://apps.apple.com/us/app/全部生命/id1562059559">
            iOS 蘋果安裝
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=app.totality">
            Android 安卓安裝
          </a>
        </li>
        <li>
          <a href="https://store.totality-of-life.com">
            報名課程
          </a>
        </li>
        <li>
          <a href="https://join.totality-of-life.com">
            開通序號
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h3>
        購買紙本書籍
      </h3>
      <ul>
        <li>
          <a href="https://search.books.com.tw/search/query/key/楊定一?sloc=reprod_k_1">
            博客來網路書店
          </a>
        </li>
        <li>
          <a href="https://shop.cwbook.com.tw/v2/Search?q=楊定一&shopId=40358">
            天下網路書店
          </a>
        </li>
        <li>
          <a href="https://www.kingstone.com.tw/search/key/楊定一/adv_au/楊定一">
            金石堂網路書店
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h3>
        電子書平台
      </h3>
      <ul>
        <li>
          <a href="https://www.kobo.com/tw/zh/search?query=楊定一&ac=1&acp=%22楊定一%22&ac.author=楊定一&pageNumber=1">
            Kobo
          </a>
        </li>
        <li>
          <a href="https://readmoo.com/search/keyword?q=楊定一&kw=楊定一&pi=0&st=true">
            Readmoo
          </a>
        </li>
        <li>
          <a href="https://search.books.com.tw/search/query/cat/6/qsub/E05/key/楊定一/adv_author/1/sort/1/c/1">
            博客來
          </a>
        </li>
        <li>
          <a href="https://www.amazon.com/s?k=楊定一&i=digital-text&dm=true&ref=sr_moz_back">
            Amazon
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/search?q=楊定一&c=books">
            Google Play 圖書
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h3>社群網站</h3>
      <ul>
        <li>
          <a href="https://www.facebook.com/TheTotalityOfLife">
            Facebook
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@totality-of-life">
            Youtube
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>